# These are some examples of commonly ignored file patterns.
# You should customize this list as applicable to your project.
# Learn more about .gitignore:
#     https://www.atlassian.com/git/tutorials/saving-changes/gitignore

# Specific paths and/or names
meshoptimizer/.vs
meshoptimizer/Release
meshoptimizer/meshoptimizer.dir
meshoptimizer/Win32
meshoptimizer/CMakeFiles
stage

# Specific files
meshoptimizer/CMakeCache.txt
meshoptimizer/cmake_install.cmake
meshoptimizer/install_manifest.txt
meshoptimizer/meshoptimizerConfig.cmake
meshoptimizer/meshoptimizerConfigVersion.cmake

#VC build files
*.vcxproj
*.vcxproj.filters
*.sln

# Package files
*.tar.bz2

